<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/" method="post">
        <input name="city" class="place-input" type="text"  placeholder="Enter a place">
        <button type="submit"> <img src="/icons/search-analytics.png" alt="search" height="40"></button>
    </form>

    <% if(locals.data){ %> 
        <div class="info">
            <img src="https://openweathermap.org/img/wn/<%= data.icon %>@2x.png" alt="weather" />
    
            <p class="temp"> <%= data.temperature %> °C </p>
    
            <p class="city"><%= data.city %></p>
    
            <div class="details">
                <div class="humidity">
                    <img src="icons/humidity.png" width="40" alt="humidity">
                    <p> <%= data.humidity %>% <br> humidity</p>
                </div>
        
                <div class="speed">
                    <img src="icons/wind_speed.png" width="80   " alt="wind speed">
                    <p><%= data.wind %> km/hr <br> Wind speed </p>
                </div>
            </div>
        </div>
    <% } %>
</body>

<script src="/index.js"></script>
</html>